<nav th:fragment="navbar"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    class="navbar navbar-expand-lg navbar-dark bg-primary">
    <style>
        .btn-login-or-out {
            background-color: white;
            color: #12355B;
            font-weight: 700;
            border-radius: 10px;
            padding: 8px 18px;
            border: 2px solid white;
            transition: 0.3s ease;
        }

        .btn-logout:hover {
            background-color: #12355B;
            color: white;
            border-color: white;
        }
    </style>
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            📖 Course Manager
        </a>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/courses}">Available Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('STUDENT')" th:href="@{/my-courses}">My Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('TEACHER')" th:href="@{/assign}">Assign Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ADMIN')" th:href="@{/h2-console}">H2 Console</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="btn btn-login-or-out" sec:authorize="!isAuthenticated()" th:href="@{/login}">Log In</a>
                </li>
            </ul>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST" class="ms-3">
                <button type="submit" class="btn btn-login-or-out">Log Out</button>
            </form>
        </div>
    </div>
</nav>